@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center container">
        <h1 class="display-4">Witaj na słowniczku!</h1>
        <div id="mainPanel" class="">
            <div class="row d-flex justify-content-center">
                <h2 class="display-6">Z górnego menu wybierz interesującą Cię opcję.</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col col-md-2 px-0 row col-lg-2">
                    <img src="~/jpgi/zwierzeta/cat.png" class="rounded row-no-margin" />
                </div>
                <div class="col col-md-2 px-0 row col-lg-2">
                    <img src="~/jpgi/zwierzeta/chicken.png" class="rounded row-no-margin" />
                </div>
                <div class="col col-md-2 px-0 row col-lg-2">
                    <img src="~/jpgi/zwierzeta/dog.png" class="rounded row-no-margin" />
                </div>
                <div class="col col-md-2 px-0 row col-lg-2">
                    <img src="~/jpgi/zwierzeta/duck2.png" class="rounded row-no-margin" />
                </div>
            </div>
        </div>
    </div>
